@model PollingApp.Models.TopicMaster


@Html.HiddenFor(model => model.TopicId)
<div class="span12">
  <div class="fontBold">@Html.DisplayNameFor(model => model.TopicCode)</div>
  <div>@Html.DisplayFor(model => model.TopicCode)</div>
</div>
<div class="span12">
  <div class="span2 fontBold">@Html.DisplayNameFor(model => model.TopicName)</div>
  <div class="span3">@Html.DisplayFor(model => model.TopicName)</div>
</div>
<div class="span12">
  <div class="span2 fontBold">@Html.DisplayNameFor(model => model.CreatedDate)</div>
  <div class="span3">@Html.DisplayFor(model => model.CreatedDate)</div>
</div>
<div class="span12">
  <div class="span2 fontBold">@Html.DisplayNameFor(model => model.LastModifieddate)</div>
  <div class="span3">@Html.DisplayFor(model => model.LastModifieddate)</div>
</div>
<div class="span12">
  <div class="span2 fontBold">@Html.DisplayNameFor(model => model.CreatedBy)</div>
  <div class="span3">@Html.DisplayFor(model => model.CreatedBy)</div>
</div>
<div class="span12">
  <div class="span2 fontBold">@Html.DisplayNameFor(model => model.LastModifiedBy)</div>
  <div class="span3">@Html.DisplayFor(model => model.LastModifiedBy)</div>
</div>
