@*@model List<PollingApp.Models.TopicMaster>*@
@model PollingApp.Models.TopicMaster
@{
  ViewBag.Title = "Topic";
}
<head>

</head>
<h2>Topic</h2>

<div id="entityData">
  <table class="row-border compact stripe hover dataTable" id="entityTable">
    <thead>
      <tr>
        <th>@Html.DisplayNameFor(model => model.TopicId)   </th>
        <th>@Html.DisplayNameFor(model => model.TopicCode)   </th>
        <th>@Html.DisplayNameFor(model => model.TopicName)   </th>
        <th>@Html.DisplayNameFor(model => model.CreatedDate)   </th>
        <th>@Html.DisplayNameFor(model => model.CreatedBy)   </th>
        <th>@Html.DisplayNameFor(model => model.LastModifiedBy)    </th>
        <th>@Html.DisplayNameFor(model => model.LastModifieddate)   </th>
        <th>@Html.Raw("Actions")</th>
      </tr>
    </thead>
  </table>
</div>

@*@Html.Partial("TopicList")*@

@Ajax.ActionLink("Add", "Create", null, new AjaxOptions() { UpdateTargetId = "entityContainer", HttpMethod = "Get", OnComplete = "ShowEntityModal" }, new { @class = "btn btn-primary" })

<div id="entityContainer"></div>


@section scripts
{
  @Scripts.Render("~/bundles/jqueryval")
  <script type="text/javascript">
    var apiUrl = 'http://localhost:57203/api/apitopicmaster/';
    $(document).ready(function () {
      RenderGrid();
    });

    function InsertDetails() {
      var topicName = $('#TopicName').val();
      var topicCode = $('#TopicCode').val();
      $.ajax({
        url: apiUrl,
        type: "Post",
        dataType: 'json',
        data: { "TopicName": topicName, "TopicCode": topicCode, "CreatedDate": "12/12/2018" },
        success: function (data) {
          var div = "<div><a href='#' class='close' data-dismiss='alert'>×</a><strong>" + "Successfully Inserted" + "</strong></div>";
          $("#divMessage").html(div);
          $("#divMessage").show();
          $('#entityModal').modal('hide');
          RenderGrid();
        }
      });
    }

    function UpdateDetails() {
      var topicName = $('#TopicName').val();
      var topicCode = $('#TopicCode').val();
      var topicId = $('#TopicId').val();
      $.ajax({
        url: apiUrl,
        method : "Put",
        dataType: 'json',
        data: { "TopicName": topicName, "TopicCode": topicCode, "CreatedDate": "12/12/2018", "TopicId": topicId },
        success: function (data) {
          var div = "<div><a href='#' class='close' data-dismiss='alert'>×</a><strong>" + "Successfully Updated" + "</strong></div>";
          $("#divMessage").html(div);
          $("#divMessage").show();
          $('#entityModal').modal('hide');
          RenderGrid();
        }
      });
    }

    function DeleteConfirmed() {
      var topicId = $('#TopicId').val();
      $.ajax({
        url: apiUrl+'/DeleteTopic/' + topicId,
        method: "Post",
        dataType: 'json',
        //data: { "id": topicId },
        success: function (data) {
          var div = "<div><a href='#' class='close' data-dismiss='alert'>×</a><strong>" + "Successfully Deleted" + "</strong></div>";
          $("#divMessage").html(div);
          $("#divMessage").show();
          $('#entityModal').modal('hide');
          RenderGrid();
        }
      });
    }

    function RenderGrid() {
      $.ajax({
        url: apiUrl,
        type: "GET",
        dataType: 'json',
        success: function (data) {
          $('#entityTable').DataTable({
            destroy: true,
            data: data,
            columns: [
              { 'data': 'TopicId' },
              { 'data': 'TopicCode' },
              { 'data': 'TopicName' },
              { 'data': 'CreatedDate' },
              { 'data': 'CreatedBy' },
              { 'data': 'LastModifiedBy' },
              { 'data': 'LastModifieddate' },
              {
                'data': 'TopicId',
                "bSearchable": false,
                "bSortable": false,
                "render": function (TopicId) {
                  // oObj.aData[0] returns the RoleId
                  return '<a data-ajax="true" data-ajax-complete="ShowEntityModal" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#entityContainer"  href=/TopicMaster/Edit/?id=' + TopicId + '>Edit</a> | <a data-ajax="true" data-ajax-complete="ShowEntityModal" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#entityContainer"  href=/TopicMaster/Delete/?id=' + TopicId + '>Delete</a> | <a data-ajax="true" data-ajax-complete="ShowEntityModal" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#entityContainer"  href=/TopicMaster/Details/?id=' + TopicId + '>Details</a>';
                  //return '<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Container" data-toggle="modal" href=/Home/Edit/' + TopicId + '>Edit</a> |<a data-ajax="true" data-toggle="modal" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Container" href=/Home/Delete/' + TopicId + '>Delete</a> |<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Container" href=/Home/Details/' + TopicId + '>Details</a>'

                }
              }
            ]
          });
        }
      });
    }
  </script>
}
