@*@model List<PollingApp.Models.>*@
@model PollingApp.Models.CategoryMaster
@{
    ViewBag.Title = "Category";
}
<head>

</head>
<h2>Category</h2>

<div id="entityData">
    <table class="row-border compact stripe hover dataTable" id="entityTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CategoryId)   </th>
                <th>@Html.DisplayNameFor(model => model.CategoryCode)   </th>
                <th>@Html.DisplayNameFor(model => model.CategoryName)   </th>
                <th>@Html.DisplayNameFor(model => model.CreatedDate)   </th>
                <th>@Html.DisplayNameFor(model => model.CreatedBy)   </th>
                <th>@Html.DisplayNameFor(model => model.LastModifiedBy)    </th>
                <th>@Html.DisplayNameFor(model => model.LastModifiedDate)   </th>
                <th>@Html.Raw("Actions")</th>
            </tr>
        </thead>
    </table>
</div>

@*@Html.Partial("TopicList")*@

@Ajax.ActionLink("Add", "Create", null, new AjaxOptions() { UpdateTargetId = "entityContainer", HttpMethod = "Get", OnComplete = "ShowEntityModal" }, new { @class = "btn btn-primary" })

<div id="entityContainer"></div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var apiUrl = 'http://localhost:8080/api/apicategorymaster/';
    $(document).ready(function () {
      RenderGrid();
    });

    function InsertDetails() {
        var categoryName = $('#CategoryName').val();
        var categoryCode = $('#CategoryCode').val();
      $.ajax({
        url: apiUrl,
        type: "Post",
        dataType: 'json',
          data: { "CategoryName": categoryName, "CategoryCode":categoryCode, "CreatedDate": "12/12/2018" },
        success: function (data) {
          var div = "<div><a href='#' class='close' data-dismiss='alert'>×</a><strong>" + "Successfully Inserted" + "</strong></div>";
          $("#divMessage").html(div);
          $("#divMessage").show();
          $('#entityModal').modal('hide');
          RenderGrid();
        }
      });
    }

    function UpdateDetails() {
        var categoryName = $('#CategoryName').val();
        var categoryCode = $('#CategoryCode').val();
        var categoryId = $('#CategoryId').val();
      $.ajax({
        url: apiUrl,
        method : "Put",
        dataType: 'json',
          data: { "CategoryName": categoryName, "CategoryCode": categoryCode, "CreatedDate": "12/12/2018", "CategoryId": categoryId },
        success: function (data) {
          var div = "<div><a href='#' class='close' data-dismiss='alert'>×</a><strong>" + "Successfully Updated" + "</strong></div>";
          $("#divMessage").html(div);
          $("#divMessage").show();
          $('#entityModal').modal('hide');
          RenderGrid();
        }
      });
    }

    function DeleteConfirmed() {
        var categoryId = $('#CategoryId').val();
      $.ajax({
          url: apiUrl + '/DeleteCategory/' + categoryId,
        method: "Post",
        dataType: 'json',
        //data: { "id": optionid },
        success: function (data) {
          var div = "<div><a href='#' class='close' data-dismiss='alert'>×</a><strong>" + "Successfully Deleted" + "</strong></div>";
          $("#divMessage").html(div);
          $("#divMessage").show();
          $('#entityModal').modal('hide');
          RenderGrid();
        }
      });
    }

    function RenderGrid() {
      $.ajax({
        url: apiUrl,
        type: "GET",
        dataType: 'json',
        success: function (data) {
          $('#entityTable').DataTable({
            destroy: true,
            data: data,
            columns: [
                { 'data': 'CategoryId' },
                { 'data': 'CategoryCode' },
                { 'data': 'CategoryName' },
              { 'data': 'CreatedDate' },
              { 'data': 'CreatedBy' },
              { 'data': 'LastModifiedBy' },
              { 'data': 'LastModifiedDate' },
              {
                  'data': 'CategoryId',
                "bSearchable": false,
                "bSortable": false,
                  "render": function (CategoryId) {
                  // oObj.aData[0] returns the RoleId
                      return '<a data-ajax="true" data-ajax-complete="ShowEntityModal" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#entityContainer"  href=/CategoryMaster/Edit/?id=' + CategoryId + '>Edit</a> | <a data-ajax="true" data-ajax-complete="ShowEntityModal" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#entityContainer"  href=/CategoryMaster/Delete/?id=' + CategoryId + '>Delete</a> | <a data-ajax="true" data-ajax-complete="ShowEntityModal" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#entityContainer"  href=/CategoryMaster/Details/?id=' + CategoryId + '>Details</a>';
                  //return '<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Container" data-toggle="modal" href=/Home/Edit/' + TopicId + '>Edit</a> |<a data-ajax="true" data-toggle="modal" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Container" href=/Home/Delete/' + TopicId + '>Delete</a> |<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Container" href=/Home/Details/' + TopicId + '>Details</a>'

                }
              }
            ]
          });
        }
      });
    }
    </script>
}



