@model IEnumerable<PollingApp.Models.OptionMaster>


<div id="entityData">
  <table class="row-border compact stripe hover dataTable" id="entityTable">
    <thead>
      <tr>
        <th>
          <span id="FirstName">@Html.DisplayNameFor(model => model.OptionCode)</span>
        </th>
        <th>
          <span id="FirstName">@Html.DisplayNameFor(model => model.OptionName)</span>
        </th>
        <th>
          <span id="Actions">@Html.Raw("Actions")</span>
        </th>
      </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.OptionCode)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.OptionName)
      </td>
      <td>

        @Ajax.ActionLink("Edit", "Edit", new { id = item.OptionId }, new AjaxOptions() { UpdateTargetId = "entityContainer", HttpMethod = "Get", OnComplete = "ShowEntityModal" })
        <span>|</span>

        @Ajax.ActionLink("Delete", "Delete", new { id = item.OptionId }, new AjaxOptions() { UpdateTargetId = "entityContainer", HttpMethod = "Get", OnComplete = "ShowEntityModal" })
        <span>|</span>

        @Ajax.ActionLink("Details", "Details", new { id = item.OptionId }, new AjaxOptions() { UpdateTargetId = "entityContainer", HttpMethod = "Get", OnComplete = "ShowEntityModal" })
      </td>
    </tr>
    }
  </table>
</div>

